<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.chaos.starke">

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
    android:theme="@android:style/Theme.DeviceDefault">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

  </application>

</manifest>
